.commentHolder {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0 10px;
    display: grid;
    grid-template-columns: 10% 35% 35% 20%;
    padding: 10px;
    row-gap: 10px;
}

.repBorder {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.replyCont {
    width: 90%;
    position: relative;
}

.repBorder::after {
    content: '';
    border-left: 1px solid hsl(223, 19%, 93%);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}